body {
    font-family: 'Courier New', Courier, monospace;
    


.recipe-list {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(81, 80, 82);
    display: inline-block;
    border-left: 5px rgb(255, 255, 255);
    border-style: dotted;
    border-radius: 10px;
    padding: 10px 30px;
    margin-left: 110px;
    margin-top: 20px;


}

.index-container {
    box-sizing: border-box;
    width: 500px;
    height: 290px;
    margin: 150px auto;
    border: 5px dotted rgb(252, 252, 252);
    border-radius: 25px;
    background: rgb(152, 153, 147);
    
}

.carb,
.pizza,
.egg {
    display: block;
    

}

.carb {
    margin-top: 0px;
    margin-bottom: 10px;
}

.pizza {
    margin-bottom: 10px;
}

.egg {
    margin-top: 10px;
}

.index-para{
    box-sizing: border-box;
    width: 799px;
    height: 18px;
    margin: auto;

}
}