body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

.img.bg {
    background-image: url("../images/webbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.recipe-list {
    background-color: aqua;
    text-align: center;
    color: blueviolet;
}


}